{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

    {% comment %} 
    
    {% if boleta %} 

    
    {% endcomment %}
    
    <div class="container bg-white py-4 pt-4" style="width: 60rem; border-radius: 10px;">
        <div class="row">
            <div class="col-6 text-right">
                <b>
                    <h4 style="color: red">
                        Boleta N°
                        {{ boleta.nro_boleta }} 
                        de 
                        {{ boleta.cliente.usuario.first_name }}
                        {{ boleta.cliente.usuario.last_name }}
                    </h4>
                </b>
            </div>
            <div class="col-6">
                <table class="mb-3" style="float: right">
                    <tr>
                        <td class="td_img_estado_boleta"> 
                            <img src="{% static 'core/img/donkeybuy.png' %}" style="width: 90px;">
                        </td>
                        <td class="td_img_estado_boleta"> 
                            <img src="{% static 'core/img/repartidor.png' %}" style="width: 90px;">
                        </td>
                        <td class="td_img_estado_boleta"> 
                            <img src="{% static 'core/img/manos.png' %}" style="width: 90px;">
                        </td>
                    </tr>
                    <tr>
                        <td class="td_fec_estado_boleta"> 
                            Vendido <br> 
                            {{ boleta.fecha_venta|formatear_fecha }}
                        <td class="td_fec_estado_boleta"> 
                            Despachado <br> 
                            {{ boleta.fecha_despacho|formatear_fecha }}
                        <td class="td_fec_estado_boleta"> 
                            Entregado <br> 
                           {{ boleta.fecha_entrega|formatear_fecha }}
                    </tr>
                </table>
            </div>
        </div>
        <section class="text-center py-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Categoria</th>
                        <th scope="col">Productos</th>
                        <th scope="col">Precio</th>
                        <th scope="col">%Subscriptor</th>
                        <th scope="col">%Oferta</th>
                        <th scope="col">%Dsc total</th>
                        <th scope="col">Descuentos</th>
                        <th scope="col">Precio a pagar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in detalle_boleta%}
                    <tr>
                        <td scope="col">{{ item.bodega.producto.categoria.nombre }}</td>
                        <td scope="col">{{ item.bodega.producto.nombre }}</td>
                        <td scope="col">{{ item.precio|formatear_dinero }}</td>
                        <td scope="col">{{ item.descuento_subscriptor|formatear_porcentaje }}</td>
                        <td scope="col">{{ item.descuento_oferta|formatear_porcentaje }}</td>
                        <td scope="col">{{ item.descuento_total|formatear_porcentaje }}</td>
                        <td scope="col">{{ item.descuentos|formatear_dinero }}</td>
                        <td scope="col">{{ item.precio_a_pagar|formatear_dinero }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-bottom: 20px; padding-right: 20px;">
            <label for="Precio-sin-iva" style="font-weight: bold;">Precio sin iva: </label>
            <div class="mb-3">
                <input type="text" class="form-control" id="Precio-sin-iva" placeholder="{{ boleta.monto_sin_iva|formatear_dinero }}" disabled>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-bottom: 20px; padding-right: 20px;">
            <label for="Valor-iva" style="font-weight: bold;">Valor iva: </label>
            <div class="mb-3">
                <input type="text" class="form-control" id="Valor-iva" placeholder="{{ boleta.iva|formatear_dinero }}" disabled>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding-bottom: 20px; padding-right: 20px;">
            <label for="Total-pagar" style="font-weight: bold;">Total a pagar: </label>
            <div class="mb-3">
                <input type="text" class="form-control" id="Total-pagar" placeholder="{{ boleta.total_a_pagar|formatear_dinero }}" disabled>
            </div>
        </div>
    </div>

    {% comment %} 
    
    {% else %}

        <h1> No se puede mostrar la boleta </h1>

    {% endif %} 
    
    {% endcomment %}
    
{% endblock content %}