{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
<!-- <div class="instrucciones-para-el-alumno">
  INSTRUCCIONES PARA EL ALUMNO (ELIMINALO DESPUES DE LEERLO):<br>
  - Pagina para ingresar a la tienda <br>
  - Pone aquí tu formulario <br>
  - Si quieres puedes usar el formulario que se te entrega, pero debes cambiar su gráfica con la tuya <br>
  - Si quieres mantener tu propio formulario, debes fijarte que tenga los "id" y "name" del formulario de Django <br>
  - Por ejemplo, si tu campo se llama "username", debes usar los atributos <b>name="username"</b> y <b>id="id_username"</b> (Django le antepone "id_" al nombre del campo)
</div> -->

<div>
  <div id="menu" ></div>
  
  <div style="text-align: center; border: 1px solid #ccc; border-radius: 10px; padding: 20px; margin-left: 20%; margin-right: 20%; margin-top: 3%; margin-bottom: 3%; background-color: #3F5159; color: white">
      <h2>Inicio de Sesion</h2>
      <form id="form" method="POST">
            {% csrf_token %} 
            {{ form|as_bootstrap_form }}
         <br> 
          <button type="submit" class="btn" style="background-color: #000; border-color: #C7AE6A; color: #C7AE6A">Ingresar</button>
          <br>
          <div>
            <a href="{% url 'registrarme' %}" style="color: #C7AE6A;">Registrarse </a>
          </div>
        </form>

  </div>
</div>
  <!-- Combobox de usuarios (QUITAR EN VERSION DE PRODUCCION DEL SOFTWARE) -->
  <!-- NO LO BORRES PARA QUE PUEDAS HACER TUS PRUEBAS MAS RAPIDAMENTE  -->
  {% include 'common/combobox_usuarios.html' %} 
{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/ingresar.js' %}"></script>
{% endblock script %}


              <!-- <p class="ficha_titulo" style="text-align: center;">Iniciar Sesión </p>
              <div class="mb-5 fw-bold">
                <label for="id_username" style="text-align: left;">Cuenta</label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="Ingrese nombre de usuario" value=""/>                   
              </div>
              <div class="mb-5 fw-bold">
                <label for="id_password" style="text-align: left;">Contraseña</label>
                <input type="password" class="form-control" id="id_password" name="password" placeholder="Ingrese su Contraseña" value=""/>
              </div> -->