{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<div class="container">
  <div class="row justify-content-center" style="border-radius: 10px; padding: 50px; text-align: center; border: 1px solid #ccc;">
    <div class="col-6 p-4; row justify-content-center">
      <div class="contanier-fluid py-4 pt-4" style="border-radius: 10px; padding: 20px; background-color: #3F5159; color: white;">
        <h2 class="text-center">Cambiar contraseña</h2>
        <br>
        <br>
        <form method="POST" id="form" autocomplete="on" style="font-weight: bold;">
          
          {% csrf_token %}

          <input type="text" id="username" name="username" value="{{ username }}" autocomplete="on" class="d-none">
          {{ form.old_password|as_bootstrap_field }}
          {{ form.new_password1|as_bootstrap_field }}
          {{ form.new_password2|as_bootstrap_field }}
                    
          <div class="text-center">
            <button type="submit" class="btn" style="background-color: #000; border-color: #C7AE6A; color: #C7AE6A"> Actualizar contraseña </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
  <script src="{% static 'core/js/mipassword.js' %}"></script>
{% endblock script %}